.wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 35px;
    color: white;
    position: relative;
    /*transition: 1s;*/
}

.modal {
    font-size: 25px;
    background-color: powderblue;
    top: 42px;
    /* top: 13.5%; */
    /* right: 1%; */
    position: absolute;
    max-height: 0;
    overflow: hidden;
    /* transition: 1s; */
    z-index: 1;
    right: -20px;
    transition: 0.5s;
}

/*.modal:before {*/
/*    content: "";*/
/*    width: 0;*/
/*    border-right: 15px solid transparent;*/
/*    border-left: 15px solid transparent;*/
/*    border-bottom: 11px solid #eee;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    opacity: 0;*/
/*    transition: opacity .6s;*/
/*    transition-delay: .25s;*/
/*    z-index: 1;*/
/*}*/

.modal.active {
    transition: 1s;
    max-height: 100vh;
}