.wrapper {
    display: flex;
    justify-content: flex-end;
    /*position: fixed;*/
    transition: 0.5s;
    border-bottom: 5px solid black;
}

.wrapper.woman {
    background-color: pink;
}

.wrapper.man {
    background-color: lightskyblue;
}

.wrapper div{
    font-weight: 500;
    height: 100%;
    padding: 0.5em 2em;
    color: white;
    background-color: wheat;
    margin-right: 1em;
    border-right: 5px solid gray;
    border-left: 5px solid gray;
}

.wrapper div:last-child{
    margin-right: 13%;
}
.wrapper div span{
    font-size: 2em;
}